@use "../utilities" as u;
@use "../base" as base;

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--play {
    width: u.px-rem(250);
    height: u.px-rem(98);
    @include u.f-almarai(u.px-rem(40), 700);
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-around;
    background-color: base.$primary-yellow;
    color: base.$primary-dark;
    @include u.transition();
    transform-origin: center;

    .btn__svg--controller,
    .btn__svg--arrow {
      @include u.transition();
    }

    &:hover {
      transform: scale(1.08);

      .btn__svg--arrow {
        transform: scale(1.1);
      }

      .btn__svg--controller {
        transform: rotate(-25deg);
      }
    }
  }
}
