@use "../utilities" as u;
@use "../base" as base;

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  &--play {
    @include u.wid-heig(250, 98);
    @include u.f-almarai(40, 700);
    @include u.flex(row, space-around,);
    @include u.colors(base.$primary-dark, base.$primary-yellow);
    @include u.transition();
    transform-origin: center;

    .btn__svg--controller,
    .btn__svg--arrow {
      @include u.transition();
    }

    &:hover {
      transform: scale(1.08);

      .btn__svg--arrow {
        transform: scale(1.1);
      }

      .btn__svg--controller {
        transform: rotate(-25deg);
      }
    }
  }

  &__start {
    @include u.wid-heig(126, 53);
    @include u.colors($bg: base.$primary-yellow);
    @include u.f-rose(20, 700);
    @include u.flex($direction: row, $gap: 8);
    @include u.transition();

    &:hover:not(:disabled) {
      transform: scale(1.08);
    }

    &:disabled {
      @include u.colors(base.$txt-disable, base.$disable-grey);
      cursor: not-allowed;
      .btn__start--icon {
        filter: brightness(0) saturate(100%) invert(66%) sepia(2%) saturate(0%) hue-rotate(180deg) brightness(103%);
      }
    }

    &--icon {
      @include u.wid-heig(24, 24);
    }
  }
}
