@use "../utilities" as u;

.card {
  @include u.wid-heig(120, 120);  //todo add variables to get different heights and widths
  perspective: u.px-rem(600);

  &__button {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transform-style: preserve-3d;
    cursor: pointer;
    @include u.transition();

    &.card__flipped {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: absolute;
    inset: 0;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: var(--card-radius, 0);

    @include u.flex(row);

    &--front {
      transform: rotateY(180deg);
      background-color: var(--card-bg);
    }

    &--back {
      background: var(--card-back-bg, none);
      box-shadow: var(--card-back-shadow, none);
    }
  }

  &__face-img {
    object-fit: contain;
  }

  &__matched {
    border: var(--card-border-matched, none);
    box-shadow: var(--card-shadow, none);
  }
}
