@use "../utilities" as u;

.card {
// width: var(--card-width, u.px-rem(120));
// height: var(--card-height, u.px-rem(120));

  &__button {
    border: none;
    background-color: transparent;
    padding: 0;
    transform-style: preserve-3d;
    width: 100%;
  }

}
