@use "../base" as base;
@use "../utilities" as u;

.svg {
  &__arrow {
    width: u.px-rem(35);
    height: u.px-rem(15);
    stroke: u.px-rem(2);
    fill: base.$primary-dark;
  }

  &__controller {
    width: u.px-rem(44);
    height: u.px-rem(32);
    stroke: u.px-rem(2);
    fill: base.$primary-dark;

    &--background {
      width: u.px-rem(416);
      height: u.px-rem(302);
      fill: base.$controller-light-yellow;
    }
  }

  &__line {
    fill: base.$primary-yellow;
    color: base.$primary-yellow;
    height: u.px-rem(18);
    width: u.px-rem(50);
    &--diamond {
      color: base.$primary-yellow;
      fill: base.$primary-yellow;
    }
  }
}

.summary--divider {
  @include u.wid-heig(8, 56);
  background-color: base.$primary-yellow;
  transform: rotate(20deg);
}
