@use "../utilities" as u;
@use "../base" as base;

.landing {
  .title {
    @include u.f-rose(140, 700); //2 wert ist die font-weight
    @include u.flex($direction: column-reverse);
  }

  .subtitle {
    @include u.f-almarai(48);
  }

  .svg__controller--background {
    position: fixed;
    bottom: 80px;
    left: max(-88px, calc((100vw - #{base.$max-dp-width}) / 2 - 88px));

    transform: rotate(37deg);
  }
}
