@use "../utilities" as u;
@use "../base" as base;

.settings {
  .title {
    @include u.f-rose(u.px-rem(54), 700);
  }

  .main {
    @include u.grid-col($columns: 50% 50%);
    width: 100vw;
  }

  .summary {
    display: flex;
    @include u.colors($bg: base.$gey-bg);
    padding: u.px-rem(12);
    @include u.flex(row, space-around);
    max-width: 550px;
    width: 100%;
    justify-self: end;

    &--text {
      @include u.f-almarai(20);
    }
  }

  &__preview {
    @include u.grid-col(1fr);
    gap: 45px;
  }
}
