@use "../utilities" as u;
@use "../base" as base;

.settings {
  .title {
    @include u.f-rose(54, 700);
  }

  .main {
    @include u.grid-col($columns: 50% 50%);
    width: 100vw;
    max-width: 1100px;
  }

  .summary {
    display: flex;
    @include u.colors($bg: base.$gey-bg);
    padding: u.px-rem(12);
    @include u.flex(row, space-around);
    width: 100%;
    justify-self: end;

    &--text {
      @include u.f-almarai(20);
    }
  }

  &__preview {
    @include u.grid-col(1fr);
    gap: 45px;
  }

  .settings__options {
    justify-self: start;
  }

  &__field {
    border: none;
    margin-bottom: 54px;

    &--icon {
      @include u.wid-heig(32, 32);
    }

    &--title {
      @include u.f-almarai(24, 700);
      margin-bottom: u.px-rem(16);
    }
    &--options {
      @include u.flex($align: flex-start, $gap: 20);
      margin-left: u.px-rem(44); // 56
    }
    &--text {
      @include u.f-almarai(20);
      @include u.flex(row, $gap:10)
    }
    &--radio-btn {
      @include u.wid-heig(24, 24);
    }
  }
}
