@use "../base" as base;
@use "../utilities" as u;

[data-theme="coding"] {
  --main-bg: #{base.$primary-dark};

  --header-bg: #{base.$primary-dark};
  --player-bg: #{base.$coding-player-bg};
  --player-blue: #{base.$player-blue};
  --player-orange: #{base.$player-orange};
  --draw-fill: rgba(77, 213, 188, 1);

  --title-font: "Rose", sans-serif;
  --title-weight: 700;
  --title-weight-regular: 400;
  --title-size: #{u.px-rem(24)};
  --text-color: #{base.$txt-white};

  --exit-btn-txt: #{base.$coding-exit-btn-txt};
  --exit-btn-size: #{u.px-rem(24)};
  --exit-btn-border: #{base.$coding-exit-btn-border};
  --exit-btn-border-hover: #{base.$coding-exit-btn-border_hover};
  --exit-btn-bg: #{base.$coding-exit-btn-bg};
  --exit-btn-bg-hover: #{base.$coding-exit-btn-bg_hover};
  --exit-btn-txt-hover: #{base.$coding-exit-btn-txt};
  --exit-btn-shadow: #{base.$coding-exit-btn-shadow};
  --exit-svg-color: #{base.$txt-white};

  --dialog-bg: #{base.$theme-white};
  --dialog-border-width: #{u.px-rem(3)};
  --dialog-font-size: #{u.px-rem(20)};
  --dialog-title-size: #{u.px-rem(32)};

  --dialog-back-btn-bg: #{base.$coding-btn-back-bg};
  --dialog-back-btn-bg-hover: #{base.$coding-btn-back-bg_hover};
  --dialog-back-btn-border-hover: #{base.$coding-btn-back-border_hover};
  --dialog-back-btn-border-width-hover: 3px;
  --dialog-back-btn-txt-color: #{base.$theme-white};
  --dialog-back-btn-txt-color-hover: #{base.$theme-white};

  --dialog-exit-btn-bg: #{base.$coding-dialog-exit-btn-bg};
  --dialog-exit-btn-bg-hover: #{base.$coding-dialog-exit-btn-bg_hover};
  --dialog-exit-btn-border: #{base.$coding-teal};
  --dialog-exit-btn-border-hover: #{base.$coding-btn-back-border_hover};
  --dialog-exit-btn-border-width-hover: 3px;
  --dialog-exit-btn-shadow: #{base.$coding-exit-btn-shadow};
  --dialog-exit-btn-txt: #{base.$coding-exit-btn-border};
  --dialog-exit-btn-txt-hover: #{base.$coding-exit-btn-border};
  --dialog-radius: 0;

  --card-bg: #{base.$coding-card-face-bg};
  --card-back-bg: #{base.$coding-card-back-bg};
  --card-border-matched: solid 3px #{base.$coding-teal};
  --card-shadow: 6px 6px 8px 0px rgba(77, 213, 188, 0.3);

  --endscreen-bg: #{base.$primary-dark};
  --endscreen-title: #{u.px-rem(128)};
  --endscreen-score-title: #{u.px-rem(26)};
  --endscreen-score-title-weight: 400;
  --score-bg: rgba(134, 233, 214, 0.2);
  --score-title: #{u.px-rem(24)};
  --score-title-weight: 700;
  --score-padding: 17px 20px;
  --score-icon: url("/assets/icons/svg/score-label.svg");
  --score-icon-width: #{u.px-rem(24)};
  --score-icon-height: #{u.px-rem(20)};

  --result-subtitle: #{u.px-rem(40)};
  --result-subtitle-weight: 400;
  --result-winner: #{u.px-rem(60)};
  --result-winner-weight: 700;
  --endscreen-confetti: url("/assets/img/confetti.png");
  --endscreen-confetti-long: url("/assets/img/confetti-long.png");

  --figure-width: 200px;
  --figure-height: 250px;

  --link-title: #{u.px-rem(24)};
  --link-bg: rgba(134, 233, 214, 0.2);
  --link-border: 1px solid rgba(77, 213, 188, 1);
  --link-padding: 16px 24px;

}
