@use "../base" as base;
@use "../utilities" as u;

[data-theme="food"] {
  --main-bg: #{base.$theme-white};
  --endscreen-bg: #{base.$theme-white};
  --header-bg: #{base.$food-header-bg};
  --player-bg: #{base.$food-players-bg};
  --player-blue: #{base.$player-blue};
  --player-orange: #{base.$player-orange};

  --title-font: "Klee One", sans-serif;
  --title-font-secondary: "Delius-Unicase", san-serif;
  --title-weight: 600;
  --title-weight-regular: 400;
  --title-size: #{u.px-rem(32)};
  --title-color: #{base.$projects-coral-dark};
  --title-shadow: #{base.$shadow-gameover};
  --text-color: #{base.$food-font-color};

  --exit-btn-txt: #{base.$food-btn-txt};
  --exit-btn-txt-hover: #{base.$theme-white};
  --exit-btn-size: #{u.px-rem(16)};
  --exit-btn-weight: 700;
  --exit-btn-bg: #{base.$food-btn-bg};
  --exit-btn-border: #{base.$food-btn-border};
  --exit-btn-border-width: #{base.$food-btn-border-width};
  --exit-btn-border-hover: #{base.$food-btn-border};
  --exit-btn-bg-hover: #{base.$food-btn-bg-hover};
  --exit-btn-shadow: #{base.$food-btn-shadow-hover};
  --exit-svg-color: #{base.$food-btn-txt};
  --exit-svg-color-hover: #{base.$theme-white};

  --dialog-bg: #{base.$food-dialog-bg};
  --dialog-title-color: #{base.$food-dialog-title};
  --dialog-font-size: #{u.px-rem(16)};

  --dialog-back-btn-bg: #{base.$food-btn-back-bg};
  --dialog-back-btn-bg-hover: #{base.$food-btn-back-bg-hover};
  --dialog-back-btn-border-hover: #{base.$food-btn-back-border};
  --dialog-back-btn-shadow-hover: #{base.$food-btn-back-shadow};
  --dialog-back-btn-txt-color: #{base.$theme-white};
  --dialog-back-btn-txt-color-hover: #{base.$theme-white};

  --dialog-exit-btn-bg: #{base.$food-offwhite};
  --dialog-exit-btn-bg-hover: #{base.$food-btn-bg-hover};
  --dialog-exit-btn-border: #{base.$food-orange};
  --dialog-exit-btn-border-hover: #{base.$food-orange};
  --dialog-exit-btn-border-width: 3px;
  --dialog-exit-btn-shadow-hover: #{base.$food-btn-shadow-hover};
  --dialog-exit-btn-txt: #{base.$food-btn-txt};
  --dialog-exit-btn-txt-hover: #{base.$theme-white};

  --card-width: #{u.px-rem(122)};
  --card-height: #{u.px-rem(122)};
  --card-bg: #{base.$food-card-face-bg};
  --card-back-bg: #{base.$food-orange};
  --card-back-shadow: #{base.$shadow-med};
  --card-border-matched: solid 3px #{base.$gaming-pink};
  --card-shadow: 5px 5px 8px 0px rgba(237, 27, 118, 0.3);
}
