@use "../base" as base;
@use "../utilities" as u;

[data-theme="gaming"] {
  --main-bg: #{base.$gaming-main-bg};
  --header-bg: #{base.$gaming-header-bg};
  --player-bg: #{base.$theme-white};
  --player-blue: #{base.$player-blue};
  --player-orange: #{base.$player-orange};

  --title-font: "Orbitron", sans-serif;
  --title-weight: 700;
  --title-weight-regular: 400;
  --title-size: #{u.px-rem(32)};
  --text-color: #{base.$theme-white};

  --exit-btn-txt: #{base.$theme-white};
  --exit-btn-border: #{base.$gaming-btn-border};
  --exit-btn-border-hover: null;
  --exit-btn-bg: #{base.$gaming-btn-bg};
  --exit-btn-bg-hover: #{base.$gaming-btn-bg_hover};
  --exit-btn-shadow: null;
  --exit-svg-color: #{base.$theme-white};
  --label-letter-spacing: 0.07em;

  --dialog-bg: #{base.$dialog-secondary-bg};
  --dialog-exit-btn-bg: null; // TODO: Wert fehlt noch
  --dialog-exit-btn-bg-hover: null; // TODO: Wert fehlt noch
  --dialog-exit-btn-shadow: null; // TODO: Wert fehlt noch
  --dialog-exit-btn-txt: null; // TODO: Wert fehlt noch

  --dialog-back-btn-bg: #{base.$gaming-btn-back-bg};
  --dialog-back-btn-bg-hover: null;
  --dialog-back-btn-border: #{base.$gaming-btn-back-border};
  --dialog-back-btn-border-hover: #{base.$gaming-btn-back-border};
  --dialog-back-btn-shadow: #{base.$gaming-btn-back-shadow};
  --dialog-back-btn-txt: #{base.$theme-white};
}
