@use "../base" as base;
@use "../utilities" as u;

[data-theme="gaming"] {
  --main-bg: #{base.$gaming-main-bg};
  --header-bg: #{base.$gaming-header-bg};
  --player-bg: #{base.$theme-white};
  --player-blue: #{base.$player-blue};
  --player-orange: #{base.$player-orange};
  --draw-fill: #{base.$gaming-pink};

  --title-font: "Orbitron", sans-serif;
  --title-weight: 700;
  --title-weight-regular: 400;
  --title-size: #{u.px-rem(32)};
  --title-color: #{base.$gaming-pink};
  --text-color: #{base.$theme-white};

  --exit-btn-txt: #{base.$theme-white};
  --exit-btn-txt-hover: #{base.$theme-white};
  --exit-btn-border: #{base.$gaming-btn-border};
  --exit-btn-border-hover: #{base.$gaming-btn-border};
  --exit-btn-border-width-hover: 3px;
  --exit-btn-bg: #{base.$gaming-btn-bg};
  --exit-btn-bg-hover: #{base.$gaming-btn-bg_hover};
  --exit-btn-shadow: #{base.$gaming-btn-back-shadow};
  --exit-svg-color: #{base.$theme-white};
  --exit-svg-color-hover: #{base.$gaming-magenta};
  --label-letter-spacing: 0.07em;

  --dialog-bg: #{base.$dialog-secondary-bg};
  --dialog-title-color: #{base.$gaming-main-bg};
  --dialog-font-size: #{u.px-rem(16)};

  --dialog-back-btn-bg: #{base.$gaming-btn-back-bg};
  --dialog-back-btn-bg-hover: #{base.$gaming-btn-back-bg-hover};
  --dialog-back-btn-border-hover: #{base.$gaming-btn-back-border};
  --dialog-back-btn-border-width-hover: 3px;
  --dialog-back-btn-shadow: #{base.$gaming-btn-back-shadow};
  --dialog-back-btn-txt-color: #{base.$theme-white};
  --dialog-back-btn-txt-color-hover: #{base.$gaming-pink};

  --dialog-exit-btn-bg: #{base.$gaming-btn-exit-bg};
  --dialog-exit-btn-bg-hover: #{base.$gaming-btn-exit-bg-hover};
  --dialog-exit-btn-shadow: #{base.$gaming-btn-back-shadow};
  --dialog-exit-btn-txt: #{base.$gaming-pink};
  --dialog-exit-btn-txt-hover: #{base.$gaming-pink};
  --dialog-exit-btn-border: #{base.$gaming-magenta};
  --dialog-exit-btn-border-width-hover: 3px;

  --card-width: #{u.px-rem(105)};
  --card-height: #{u.px-rem(120)};
  --card-bg: #{base.$gaming-card-face-bg};
  --card-back-bg: #{base.$gaming-card-back-bg};
  --card-back-shadow: #{base.$shadow-med};
  --card-border-matched: solid 3px #{base.$gaming-pink};
  --card-shadow: 5px 5px 8px 0px rgba(237, 27, 118, 0.3);
  --card-radius: 12px;

  --endscreen-bg: #{base.$gaming-main-bg};
  --endscreen-title-color: #{base.$gaming-pink};
  --endscreen-score-title: #{u.px-rem(28)};
  --endscreen-score-title-weight: 700;

  --score-padding: 8px 16px;
  --score-title: #{u.px-rem(38)};
  --score-title-weight: 700;
  --score-radius: 10px;
  --score-icon: url("/assets/icons/svg/chess-pawn-small.svg");
  --score-icon-width: #{u.px-rem(24)};
  --score-icon-height: #{u.px-rem(30)};

  --result-subtitle: #{u.px-rem(28)};
  --result-subtitle-weight: 700;
  --result-winner: #{u.px-rem(60)};
  --result-winner-weight: 700;

  --figure-width: 288px;
  --figure-height: 344px;
  --figure-image: url("/assets/img/pokal.png");
  --figure-fill: transparent;
  --endscreen-figure: none;

  --link-title: #{u.px-rem(24)};
  --link-bg: rgba(237, 27, 118, 0.08);
  --link-border: 2px solid rgba(231, 28, 79, 1);
  --link-padding: 16px 24px;
  --link-border-radius: 10px;

  --stage-enter-from: translateY(100%);
}
