$primary-dark: rgba(48, 49, 49, 1);
$gey-bg: rgba(246, 246, 246, 1);
$disable-grey: rgba(219, 219, 214, 1);

$txt-disable: rgba(163, 161, 161, 1);
$txt-white: rgba(255, 255, 255, 1);

$primary-yellow: rgba(240, 234, 110, 1);

$controller-light-yellow: rgba(240, 233, 110, 0.05);
