$primary-dark: rgba(48, 49, 49, 1);
$gey-bg: rgba(246, 246, 246, 1);
$disable-grey: rgba(219, 219, 214, 1);

$txt-disable: rgba(163, 161, 161, 1);
$txt-white: rgba(255, 255, 255, 1);

$primary-yellow: rgba(240, 234, 110, 1);

$controller-light-yellow: rgba(240, 233, 110, 0.05);

// ###########
// code theme
// ###########
$coding-player-bg: rgba(134, 233, 214, 0.2);
$coding-player-blue: rgba(43, 177, 255, 1);
$coding-player-orange: rgba(245, 142, 57, 1);
$coding-exit-btn-txt: rgba(255, 255, 255, 1);
$coding-exit-btn-border: rgba(77, 213, 188, 1);
$coding-exit-btn-border_hover: rgba(77, 213, 188, 1);
$coding-exit-btn-bg: rgba(134, 233, 214, 0.2);
$coding-exit-btn-bg_hover: rgba(134, 233, 214, 0.26);
$coding-exit-btn-shadow: 4px 4px 6px 0px rgba(77, 213, 188, 0.2);
$coding-btn-back-bg: rgba(102, 207, 188, 1);
$coding-btn-back-bg_hover: rgba(102, 207, 188, 0.7);
$coding-btn-back-border_hover: rgba(58, 188, 164, 1);

// ###########
// gaming theme
// ###########
$gaming-main-bg: rgba(41, 79, 96, 1);
$gaming-header-bg: rgba(253, 150, 201, 0.2);
$gaming-btn-bg: rgba(237, 27, 118, 0.08);
$gaming-btn-border: rgba(231, 28, 79, 1);
$gaming-btn-bg_hover: rgba(237, 27, 118, 0.14);
$gaming-btn-back-bg: rgba(237, 27, 118, 1);
$gaming-btn-back-border: rgba(231, 28, 79, 1);
$gaming-btn-back-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);

// ###########
// projects theme
// ###########
$projects-main-bg: rgba(255, 255, 255, 1);
$projects-header-bg: rgba(240, 243, 244, 1);
$projects-btn-bg: rgba(191, 229, 242, 1);
$projects-btn-bg_hover: rgba(30, 117, 148, 1);
$projects-btn-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
$projects-btn-main: rgba(30, 117, 148, 1);
$projects-btn-back-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
$projects-font-main: rgba(30, 117, 148, 1);
$projects-font-main_hover: rgba(255, 255, 255, 1);
$projects-btn-back-bg: rgba(191, 229, 242, 1);
$projects-btn-back-hover: rgba(30, 117, 148, 1);
$projects-btn-exit-bg: rgba(253, 138, 129, 1);
$projects-exit-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
$projects-exit-bg-hover: rgba(237, 91, 80, 1);

// ###########
// food theme
// ###########
$food-header-bg: rgba(240, 229, 217, 1);
$food-players-bg: rgba(255, 255, 255, 1);
$food-font-color: rgba(164, 82, 18, 1);
$food-btn-bg: rgba(255, 249, 242, 1);
$food-btn-txt: rgba(243, 131, 45, 1);
$food-btn-border: rgba(243, 131, 45, 1);
$food-btn-border-width: 3px;
$food-btn-bg-hover: rgba(243, 131, 45, 1);
$food-btn-shadow-hover: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
$food-btn-back-bg: rgba(255, 171, 62, 1);
$food-btn-back-border: rgba(243, 131, 45, 1);
$food-btn-back-bg-hover: rgba(243, 131, 45, 1);
$food-btn-back-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);

// universal
$theme-white: rgba(255, 255, 255, 1);
$player-blue: rgba(9, 127, 197, 1);
$player-orange: rgba(234, 105, 0, 1);
$dialog-secondary-bg: rgba(240, 246, 249, 1);